<% unless question.settings == 'null' %>
  <% question.settings.each do |key, value| %>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" value="<%= value %>" id="checkbox-<%= key %>"/>
    <label class="form-check-label" for="checkbox-<%= key %>"><%= value %></label>
  </div>
  <% end %>
<% end %>
