<table>
  <thead>
    <tr>
      <th>Q type</th>
      <th>Description</th>
      <th>Survey</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @survey.questions %>
  </tbody>
</table>
