<h1>Editing Survey</h1>

<%= render 'form', survey: @survey %>

<%= render 'edit_question_table', survey: @survey %>

<%= link_to 'New Question', new_survey_question_path(@survey) %> |
<%= link_to 'Back', @survey %>
