<div class="py-5 text-center">
    <img class="d-block mx-auto mb-4"
    src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg"
    alt="" width="72" height="72">
    <h2>Your response has been recorded. Thank you!</h2>
    <p class="lead"><%= @survey.afterword %></p>
    <%= link_to 'Home', surveys_path %>
</div>
