/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding: 20px;
}

.hidden {
  display: none;
}

.form-group {
  max-width: 800px;
}

.fade_button i{
  opacity: 0;
  font-size: 32px;
  transition: opacity .5s ease;
}

.fade_button:hover i {
  opacity: 1;
}

.list-group-flush .list-group-item {
  background-color: transparent;
}

.surveys {
  .survey {
    cursor: pointer;
  }
}

.carousel-indicators {
    bottom: -40px !important;
}

.list-group-item {
  &:hover {
    background-color: #ededed !important;
  }
}

.carousel-indicators li {
  background-color: #999 !important;
  background-color: rgba(70,70,70,.25) !important;
}

.carousel-indicators .active {
  background-color: #444 !important;
}

.fixed_width {
  width: 160px !important;
}