/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding: 20px;
  line-height: 115%;
  font-family: "Times New Roman", "serif";
  background: rgb(254,254,254);
}

.hidden {
  display: none;
}

.fade_button i{
  opacity: 0;
  font-size: 32px;
  transition: opacity .5s ease;
}

.fade_button:hover i {
  opacity: 1;
}

.list-group-flush .list-group-item {
  background-color: transparent;
}

.surveys {
  .survey {
    cursor: pointer;
  }
}

.carousel-indicators {
    bottom: -40px !important;
}

.list-group-item {
  &:hover {
    background-color: #ededed !important;
  }
}

.carousel-indicators li {
  background-color: #999 !important;
  background-color: rgba(70,70,70,.25) !important;
}

.carousel-indicators .active {
  background-color: #444 !important;
}
canvas {
  margin: 0px auto;
  display: block;
}

.fixed_width {
  width: 160px !important;
}
.survey-container {
  max-width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 630px) {
  .survey-container {
    max-width: 500px;
  }
}
@media screen and (min-width: 880px) {
  .survey-container {
    max-width: 800px;
  }
}
@media screen and (min-width: 1000px) {
  .survey-container {
    max-width: 850px;
  }
}
.fl-basis-100 {
  flex-basis: 100% !important;
}

.question-desc {
  font-size: 19px;
  line-height: 115%;
  font-family: "Times New Roman", "serif";
  margin-bottom: 24px;
  color: rgb(117, 117, 117);
}

.form-button-group {
  display: flex;
  flex-flow: row wrap;
}

.form-button-container {
  margin-right: 5px;
  flex: 1;
}

.form-button-container label {
  padding: 30px 20px 30px 40px;
  position: relative;
  background: rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: background 1.0s ease-in-out;
  display: block;
}

.form-button-container label span {
  font-family: Poppins,Arial,sans-serif;
  font-size: 18px;
}

.form-button-container label span::before {
  content: "";
  position: absolute;
  display: inline-block;
  margin-top: 3px;
  width: 17px;
  height: 17px;
  left: 10px;
  vertical-align: middle;
  border-radius: 100%;
  border: 2px solid #9b9b9b;
  border-image: initial;
  background: 0 0!important;
  animation: background .2s forwards, border .2s forwards;
}

.form-button-container input:checked ~ label span::before {
  border: 2px solid #007dff;
  background: #007dff!important;
  box-shadow: inset 0 0 0 3px #fff;
}