// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.collapse {
    & + .list-group-item {
        border-top: 0;
    }

    &.show {
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
}